{% extends "app/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col">
            <h1>{{ article.title }}</h1>
            <p class="text-muted">{{ article.date|date:"F j, Y" }}</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="content">
                {{ article.content.html|safe }}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <a href="{% url 'articles' %}" class="btn btn-primary">Back to Articles</a>
        </div>
    </div>
</div>
{% endblock %}